<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Transaction</title>
</head>
<body>
    <h1>New Transaction</h1>
    <form action="#" th:action="@{/transaction}" th:object="${transaction}" method="post">
       
        <p>Type:</p>
<p><input type="radio" th:field="*{type}" value="INCOME"/> Income</p>
<p><input type="radio" th:field="*{type}" value="EXPENSE"/> Expense</p>
        
        <p>Description: <input type="text" th:field="*{description}"/></p>
        <p>Amount: <input type="number" step="0.01" th:field="*{amount}"/></p>
        <p>Date: <input type="date" th:field="*{date}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</body>
</html>
